* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  @media print {
    * {
      visibility: hidden;
      -webkit-print-color-adjust: exact; /* Ensures colors are printed */
      print-color-adjust: exact; /* Standard property */
      transform: scale(1); /* Prevents Safari from auto-scaling */
    }
    #options-btn,
    .options {
      display: none !important;
    }
    .bill-print,
    .bill-print * {
      visibility: visible !important;
    }
    .bill-print {
      max-width: 100% !important;
      margin: 0 !important;
      padding: 4px !important;
    }
    .bill-print > section:nth-of-type(4) ul {
      gap: 0px !important;
    }
    .bill-print > section:nth-of-type(4) ul li {
      padding: 2px !important;
    }
  }
}

.bill-print {
  width: 100%;
  direction: rtl;
  max-width: 1280px;
  padding: 12px;
  margin: 16px auto;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  img {
    height: auto;
    object-fit: contain;
  }

  @media screen and (max-width: 639px) {
    // width: 200%;
    // transform: scale(0.5);
    // transform-origin: top left;

    button,
    .options {
      font-size: 24px !important;
    }
  }

  section {
    width: 100%;
  }

  li {
    list-style: none;
  }
  hr {
    margin-bottom: 4px;
    width: 100%;
  }

  & > section:nth-of-type(1) {
    display: grid;
    width: 100%;
    align-items: center;
    // justify-content: space-between;
    gap: 4px;
    grid-template-columns: repeat(3, 1fr);
    @media screen and (max-width: 639px) {
      grid-template-columns: 1fr 1fr;
      @media print {
      }
    }
    .org-info {
      display: flex;
      flex-direction: column;
      gap: 4px;
      h2 {
        font-size: 20px;
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 2px;
        font-weight: 600;
      }
      @media screen and (max-width: 639px) {
        order: 3;
        grid-column: span 2;
        @media print {
          grid-column: span 1;
          order: unset;
        }
      }
    }

    > img {
      max-width: 10rem;
      flex: 1;
      justify-self: end;
      // height: fit-content;
      height: auto;
      @media screen and (max-width: 639px) {
        // order: 1;

        @media print {
          // order: unset;
        }
      }
    }
    > h1 {
      font-size: 28px;
      height: fit-content;
      flex: 1;
      text-align: center;
      @media screen and (max-width: 639px) {
        text-align: start;
        order: 0;

        @media print {
          order: unset;
          text-align: center;
        }
      }
    }
  }
  // user info
  & > section:nth-of-type(2) {
    ul {
      display: flex;
      flex-wrap: wrap;
      font-size: 16px;
      font-weight: 500;

      li {
        padding: 4px;
        width: 50%;
        display: grid;
        grid-template-columns: 80px 1fr;
        column-gap: 5px;
        span:nth-child(1) {
          font-weight: 600;
        }
      }
    }
  }
  // table
  & > section:nth-of-type(3) {
    table {
      width: 100%;
      border-collapse: collapse;
      td {
        font-size: 14px;
        padding: 1px;
      }
      thead {
        td {
          font-weight: 600;
        }
      }
    }
    table,
    th,
    td {
      border: 1px solid black; /* Adds border to the table, header, and data cells */
    }
  }
  // transaction details
  & > section:nth-of-type(4) {
    display: flex;
    justify-content: flex-end;
    ul {
      display: flex;
      flex-direction: column;
      gap: 4px;
      max-width: fit-content;
      li {
        display: grid;
        column-gap: 8px;
        grid-template-columns: 125px 1fr;
        font-weight: 500;
        font-size: 16px;
        font-weight: 500;
        border-bottom: 1px solid black;
        padding: 4px;
        input {
          background-color: transparent;
          border: none;
          font-size: inherit;
        }
      }
    }
  }

  & > section:nth-last-of-type(1) {
    display: flex;
    justify-content: space-between;
    align-items: end;
    .org-seal {
      max-height: 128px;
      min-height: 64px;
      object-fit: contain;
      width: auto;
    }
  }

  // #options-btn {
  //   width: 100%;
  //   padding: 16px;
  //   font-size: 22px;
  //   color: white;
  //   cursor: pointer;
  //   transition: all 0.3s ease;

  //   &:hover {
  //     background-color: rgba(0, 0, 0, 0.1);
  //   }
  // }
  .options {
    overflow: hidden;
    transition: all 0.3s ease;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 8px;
    // flex-direction: column;
    button {
      padding: 8px 20px;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
    }
  }
}
