* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media print {
  @page {
    margin: 0 !important;
  }
}
body {
  height: 100vh;
}
@media print {
  body * {
    visibility: hidden;
    -webkit-print-color-adjust: exact; /* Ensures colors are printed */
    print-color-adjust: exact; /* Standard property */
  }
  body #options-btn,
  body .options {
    display: none !important;
  }
  body .bill-print,
  body .bill-print * {
    visibility: visible !important;
  }
  body .bill-print {
    height: 100vh;
    max-width: 100% !important;
    margin: 0 !important;
    padding: 4px !important;
  }
  body .bill-print > section:nth-of-type(1) {
    max-height: 170px !important;
  }
  body .bill-print > section:nth-of-type(4) ul {
    gap: 0px !important;
  }
  body .bill-print > section:nth-of-type(4) ul li {
    padding: 2px !important;
  }
}

.bill-print {
  width: 100%;
  direction: rtl;
  max-width: 1280px;
  padding: 12px;
  margin: 16px auto;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}
.bill-print img {
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 639px) {
  .bill-print button,
  .bill-print .options {
    font-size: 24px !important;
  }
}
.bill-print section {
  width: 100%;
}
.bill-print li {
  list-style: none;
}
.bill-print hr {
  margin-bottom: 4px;
  width: 100%;
}
.bill-print > section:nth-of-type(1) {
  display: grid;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  align-items: center;
  gap: 4px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}
@media screen and (max-width: 639px) {
  .bill-print > section:nth-of-type(1) {
    grid-template-columns: 1fr 1fr;
  }
}
.bill-print > section:nth-of-type(1) .org-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.bill-print > section:nth-of-type(1) .org-info h2 {
  font-size: 20px;
}
.bill-print > section:nth-of-type(1) .org-info ul {
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-weight: 600;
}
@media screen and (max-width: 639px) {
  .bill-print > section:nth-of-type(1) .org-info {
    order: 3;
    grid-column: span 2;
  }
}
.bill-print > section:nth-of-type(1) > img {
  max-width: 10rem;
  flex: 1;
  justify-self: end;
  height: auto;
}
.bill-print > section:nth-of-type(1) > h1 {
  font-size: 28px;
  height: -moz-fit-content;
  height: fit-content;
  flex: 1;
  text-align: center;
}
@media screen and (max-width: 639px) {
  .bill-print > section:nth-of-type(1) > h1 {
    text-align: start;
    order: 0;
  }
}
.bill-print > section:nth-of-type(2) ul {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  font-weight: 500;
}
.bill-print > section:nth-of-type(2) ul li {
  padding: 4px;
  width: 50%;
  display: grid;
  grid-template-columns: 80px 1fr;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.bill-print > section:nth-of-type(2) ul li span:nth-child(1) {
  font-weight: 600;
}
.bill-print > section:nth-of-type(3) table {
  width: 100%;
  border-collapse: collapse;
}
.bill-print > section:nth-of-type(3) table td {
  font-size: 14px;
  padding: 1px;
}
.bill-print > section:nth-of-type(3) table thead td {
  font-weight: 600;
}
.bill-print > section:nth-of-type(3) table,
.bill-print > section:nth-of-type(3) th,
.bill-print > section:nth-of-type(3) td {
  border: 1px solid black; /* Adds border to the table, header, and data cells */
}
.bill-print > section:nth-of-type(4) {
  display: flex;
  justify-content: flex-end;
}
.bill-print > section:nth-of-type(4) ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.bill-print > section:nth-of-type(4) ul li {
  display: grid;
  -moz-column-gap: 8px;
       column-gap: 8px;
  grid-template-columns: 125px 1fr;
  font-weight: 500;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 1px solid black;
  padding: 4px;
}
.bill-print > section:nth-of-type(4) ul li input {
  background-color: transparent;
  border: none;
  font-size: inherit;
}
.bill-print > section:nth-last-of-type(1) {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.bill-print > section:nth-last-of-type(1) .org-seal {
  max-height: 128px;
  min-height: 64px;
  -o-object-fit: contain;
     object-fit: contain;
  width: auto;
}
.bill-print .options {
  overflow: hidden;
  transition: all 0.3s ease;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 8px;
}
.bill-print .options button {
  padding: 8px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}/*# sourceMappingURL=style.css.map */